@model AvengersUnityIdentity.Models.CustomUserRole

@{
    ViewBag.Title = "Details";
}
    <div class="jumbotron background">
        <h2>Informations</h2>

        <div>
            <hr />
            <dl class="dl-horizontal">
            </dl>
        </div>
        <p>
            @Html.ActionLink("Modifier", "Edit", new { /* id = Model.PrimaryKey */ }) |
            @Html.ActionLink("Retour", "Index")
        </p>
        </div>