@model IEnumerable<AvengersUnityIdentity.Models.Organisation>

@{
    ViewBag.Title = "Index";
}
<div class="jumbotron background">

    <h2>Organisations</h2>

    <p>
        @Html.ActionLink("Ajouter une nouvelle organisation", "Create")
    </p>
    <table class="table">
        <tr>
            <th>
                Organisations
            </th>
            <th></th>
        </tr>

        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NomComplet)
                </td>
                <td>
                    @Html.ActionLink("Consulter", "Details", new { id = item.OrganisationID })
                </td>
            </tr>
        }

    </table>
</div>